body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error{color:indianred; width:400px; height:45px;}

form{
    width:375px;
    text-align: center;
}



.muestra{border-bottom:2px solid rgba(116, 16, 46, 0.822);padding:10px; margin:15px;}
h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    color:rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.808);
}
.section-success{
    background: rgba(148, 41, 41, 0.788) !important;
}
	 
.muestra{
    color:white !important;
    font-size: 17px !important;
}
 