﻿<div class="scrollable">  
	<div class="scrollable-content">
		<div class="scrollable">
 <div class="scrollable-content section" ng-controller="micontroller" >
 
	<h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif ">Ingrese su recordatorio</h2>
	<div><img src="1.png" alt="" class="cerebrito">
	<p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 17px !important;">En remember usted podra contar con la aplicación que siempre busco para poder recordar aquellos detalles que uno siempre olvida</p>
	</div>
	
		
	<form name="formulario" ng-submit="guardar(datos)" novalidate>
			
			<div class="form-group">
				<ng-input theme='nao' label='Que debo recordar?' ng-required="si" ng-minlength=3 ng-model="datos.nombre" name="nombre" ></ng-input>
			
			<ng-input theme='nao' label='fecha? ' ng-required="si" type="text" ng-model="datos.fecha" name="fecha"></ng-input>
			
			<ng-input theme='nao' label='Descripción' type="textarea" ng-required="si" ng-maxlength ="150" ng-model="datos.descripcion" name="descripcion"></ng-input>
			
			
			
			 <button class="btn btn-primary btn-block" ng-disabled="formulario.$invalid">Guardar Recordatorio</button>
			</form>
			
		</div>
	</div>
</div>
</div>
</div>

