<div ui-content-for="title">
    <span>Sanos consejos</span>
  </div>
  <div class="scrollable" ng-controller="consejos">
  <div class="scrollable-content" >
  <div class="section section-info">
      
  <h3>Practicos tips que lo ayudaran a recordar mejor las cosas</h3>
  <div class="panel-group" ui-state="myAccordion" ui-default='0'>
  
          <div class="panel panel-default" ng-repeat="item in mostrar ">
            <div class="panel-heading" ui-set="{'myAccordion': {{$index}}}">
          
              <h4 class="panel-title">
                {{item.titulo}}
              </h4>
            </div>
  
            <div ui-if="myAccordion == {{$index}}">
              <div class="panel-body" style="font-size: 16px;">
                 {{item.titulo}}. {{item.consejo}}
              </div>
            </div>
          </div>
        </div>
  
     
                      
      <div class="panel-group" ui-state="myAccordion" ui-default='0'>
  
          <div class="panel panel-default" ng-repeat="item in dato ">
            <div class="panel-heading" ui-set="{'myAccordion': {{$index}}}">
          
              <h4 class="panel-title">
                {{item.titulo}}
              </h4>
            </div>
  
            <div ui-if="myAccordion == {{$index}}">
              <div class="panel-body"style="font-size: 16px;">
                 {{item.titulo}}.  {{item.consejo}} 
              </div>
            </div>
          </div>
        </div>				  
      
  </div>
  </div>