<div ui-content-for="title">
  <span>Datos Guardados</span>
</div>
<div class="scrollable" ng-controller="mostrar">
<div class="scrollable-content" >
<div class="section section-info">

<div ng-repeat="x in dame_lo_que_guarde" class="muestra">
	<p>Nombre :{{x.nombre }}</p>
	<p>Fecha: {{x.fecha}}</p>
	<p>Descripción : {{x.descripcion }}</p>
	<button ng-click="borrarEste(x)">Borrar</button>
</div>

	
</div>
</div>


